@use "../abstracts/_variables" as var
@use "../abstracts/_mixins" as mixin

.header
    background-color: var.$blue-grotto
    border-radius: 1rem
    margin: 0.5rem
    padding: 0.5rem
    display: inline-block
    justify-content: center

    &__link
        display: flex
        justify-content: space-between
        padding: 0.5rem

    &__baniere
        width: 100%
        border-radius: 1em
        
    &__back-home
        @include mixin.circle(2rem)
        background-color: var.$scallop-seashell
        display: flex
        justify-content: center
        align-items: center
    
    &__icon
        width: 1.5rem
        height: 1.5rem
    
    @media (min-width: 1024px) 
        margin: 2rem
        padding: 2rem
        
    