@use "../abstracts/_variables" as var
@use "../abstracts/_mixins" as mixin

.oneProject
    background: var.$rose-quartz
    color: var.$black
    margin: 1rem
    padding: 2rem 1rem 
    border-radius: 1rem
    position: relative

    &__title
        font-family: "Montserrat", sans-serif
        font-optical-sizing: auto
        @include mixin.font(1.5rem, normal, 700)
        margin-bottom: 2.15rem
    
    &__article
        border: solid 3px var.$blue-grotto
        border-radius: 1rem
        padding: 1rem
        display: block
        margin-bottom: 0.5rem

    &__subtitle
        font-family: "Lora", serif
        font-optical-sizing: auto
        @include mixin.font(1.25rem, italic, 600)
        margin-bottom: 0.75rem
    
    &__navbar
        background-color: var.$blue-grotto
        border-radius: 1rem
        margin: 0.5rem
        padding: 0.5rem
        display: inline-block
        justify-content: center
        width: 95%

        navbar-link
            display: flex
            justify-content: space-between
            padding: 0.5rem
            

    &__img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 1rem
    
    &__gallery
        display: block
        justify-content: center

        &--imgArticle
            width: 100%
            overflow: auto
            margin-bottom: 1rem
            object-fit: cover
            border-radius: 1rem

        &--imgArticle0
            width: 100%
            overflow: auto
            margin-bottom: 1rem
            object-fit: cover
            border-radius: 1rem    

    &__gallery2
        display: flexbox
        justify-content: center

        &--imgArticle2
            width: 100%
            max-height: 25rem
            overflow: auto
            margin: 0.25rem
            object-fit: cover
            border-radius: 1rem
        
    &__description
        margin: 1rem
        font-family: "Hind Madurai", sans-serif
        @include mixin.font(1rem, normal, 400)
        

    &__oneImgDiag
        width: 100%
        overflow: auto
        margin: 0.1rem
        object-fit: cover
        border-radius: 1rem

    &__oneImgAdmin
        width: 100%
        overflow: auto
        margin: 0.1rem
        object-fit: cover
        border-radius: 1rem
            
ul 
    list-style: none
    padding: 0.5rem

li 
    padding-left:12px

li:before 
    content: "- "
    position: relative
    left: -16px

    width: 0
    overflow: visible
    display: inline-block

.diagrammes
    display: flex
    flex-direction: column

.diagrammes-description
    display: inline-flex
    flex-direction: column
    width: 100%
    margin-top: 0.5rem
    padding: 0.3rem
    font-family: "Hind Madurai", sans-serif
    @include mixin.font(1rem, normal, 400)
    margin-bottom: 1rem

.out-link
    font-weight: 700
    color: var.$blue-grotto
    text-decoration: underline solid 2px var.$blue-grotto


@media (min-width: 768px) 
    .oneProject
        &__gallery2--imgArticle2
            width: 48%
        &__oneImgAdmin
            width: 90%
            margin: 0.25rem

@media (min-width: 1024px) 
    .oneProject
        width:90%
        &__gallery
            display: flex
            justify-content: space-between
            &--imgArticle
                width: auto
                margin-right: 0.3rem
            &--imgArticle0
                width: 48%
        &__gallery2
            width: auto
            &--imgArticle2
                width: 45%
        &__oneImgDiag
            width: 60%
        &__oneImgAdmin
        width: 70%
        &__gallery
            display: flex
            justify-content: space-between
        
            
    
    .diagrammes
        display: flex
        flex-direction: row
    
    .diagrammes-description
        width: 60%